{% extends 'admin/layout.njk' %}
{% block content %}
  <section class="chef container">
    <div class="chef-header">
      <div class="action-header">
        <h2>Criando chef</h2>
        <div class="buttons">
          <button type="submit" form="createChefForm">Salvar chef</button>
        </div>
      </div>
    </div>
    <form action="/admin/chefs" method="post" id="createChefForm" class="adminForm" enctype="multipart/form-data">
      {% include 'admin/chefs/fields.njk' %}
    </form>
  </section>
{% endblock content %}