<div class="formItem">
  <h5>Nome</h5>
  <input type="text" name="name" value="{{ chef.name }}" {% if error %} class="inputError" {% endif %}/>
</div>
<div class="formItem">
  <h5>Avatar</h5>
  <div class="files-upload">
    <div class="images-upload">
      <input
        type="file"
        name="photos"
        id="images-input"
        multiple
        accept="image/*"
        onchange="ImagesUpload.handleChefFileInput(event)"/>
      <i class="material-icons {% if error %} inputError{% endif %}">add</i>
    </div>
    <div class="images-preview" {% if file %} style="position:absolute" {% endif %}>
      {% if file %}
        <div class="photo" id="{{ file.file_id }}">
          <img src="{{ file.src }}" alt="{{ file.name }}"/>
          <i class="material-icons" onclick="ImagesUpload.removeOldPhoto(event)">close</i>
        </div>
        <input type="hidden" name="removed_files"/>
      {% endif %}
    </div>
  </div>
</div></div>