<div class="formItem">
  <h5>Nome</h5>
  <input type="text" name="name" value="{{ chef.name }}"/>
</div>
<div class="formItem">
  <h5>Avatar</h5>
  <input type="url" name="avatar_url" value="{{ chef.avatar_url }}" placeholder="http://..."/>
</div>