{% extends "admin/layout.njk" %}
{% block content %}
  <section class="chefs admin container">
    <div class="action-header">
      <h2>Gerenciar chefs</h2>
      <div class="buttons">
        <a class="button" href="/admin/chefs/create">Novo chef</a>
      </div>
    </div>
    <div class="cards"></div>
  </section>
{% endblock content %}