{% extends "admin/layout.njk" %}
{% block content %}
  <section class="chef container">
    <div class="chef-header">
      <div class="action-header">
        <h2>Chef: {{ chef.name }}</h2>
        <a class="button" href="/admin/chefs/{{ chef.id }}/edit">Editar chef</a>
      </div>
      <img src="{{ chef.image }}" alt=""/>
      <div class="title">
        <h1>{{ chef.name }}</h1>
        <h3>{{ chef.id }}</h3>
      </div>
    </div>
    {# <div class="chef-infos">
                      <div class="ingredients">
                        <div class="title">
                          <h2>Ingredientes</h2>
                        </div>
                        <div class="content">
                          <ul>
                            {% for ingredient in chef.ingredients %}
                              <li>{{ ingredient }}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      <div class="preparation">
                        <div class="title">
                          <h2>Modo de preparo</h2>
                        </div>
                        <div class="content">
                          <ul>
                            {% for step in chef.preparation %}
                              <li>{{ step }}</li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                      <div class="information">
                        <div class="title">
                          <h2>Informações adicionais</h2>
                        </div>
                        <div class="content">
                          <p>{{ chef.information }}</p>
                        </div>
                      </div>
                    </div> #}
  </section>
{% endblock content %}