<div class="formItem">
  <h5>Nome</h5>
  <input type="text" name="name" value="{{ user.name }}" placeholder="Digite o nome completo"/>
</div>
<div class="formItem">
  <h5>Email</h5>
  <input type="email" name="email" value="{{ user.email }}" placeholder="Digite o email"/>
</div>
<div class="formItem toggleAdmin">
  <input type="checkbox" name="admin"/>
  <p>Administrador</p>
</div>