{% extends "layout.njk" %}
{% block content %}
  <section class="banner container">
    <div class="banner-content">
      <h1>As melhores receitas</h1>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro
      </p>
    </div>
    <div class="banner-image">
      <img src="/assets/chef.png" alt="Chef"/>
    </div>
  </section>
  <section class="revenues container">
    <h2>Mais acessadas</h2>
    <div class="cards">
      {% for revenue in revenues %}
        <div class="card">
          <div class="card-image">
            <img src="{{ revenue.image }}" alt="{{ revenue.title }}"/>
          </div>
          <div class="card-content">
            <h3>{{ revenue.title }}</h3>
            <h4>por {{ revenue.author }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}