@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
  --font-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

header .container {
  display: flex;
  align-items: center;
  padding: 1.875rem 0;
  gap: 7.5rem;
}

header .container .links {
  display: flex;
  gap: 1.875rem;
}

header .container .admin {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

/* HEADER SITE */

header.headerSite {
  background: white;
}

header.headerSite a {
  color: #111111;
  font-size: 1rem;
  text-decoration: none;
}

header.headerSite .link.active a {
  font-weight: bold;
}

/* HEADER ADMIN */

header.headerAdmin {
  background: black;
  margin-bottom: 50px;
}

header.headerAdmin a {
  color: #999999;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
}

header.headerAdmin .link.active a {
  color: white;
}

/* ACTION HEADER */

.action-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.action-header .buttons {
  display: flex;
  gap: 10px;
}

.action-header .buttons button.buttonDelete {
  background: #dc4747;
}

.action-header a.button,
.action-header button {
  background: #6558c3;
  border-radius: 4px;
  color: white;
  padding: 9px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* BANNER */

.banner {
  background: #fbdfdb;
  border-radius: 2rem;
  position: relative;
  height: 366px;
  padding: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.banner .banner-content {
  width: 316px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner .banner-content h1 {
  font-size: 2rem;
}

.banner .banner-content p {
  opacity: 0.7;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000000;
  line-height: 1.75rem;
}

.banner .banner-image img {
  position: absolute;
  right: 100px;
  bottom: 0;
}

/* RECIPES */

.recipes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipes h2 {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.recipes .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recipes .cards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.recipes .cards .card .card-image img {
  width: 100%;
  border-radius: 1rem;
}

.recipes .cards .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.recipes .cards .card .card-content h3 {
  font-size: 18px;
  color: var(--font-color);
}

.recipes .cards .card .card-content h4 {
  font-size: 14px;
  color: #777777;
}

/* ABOUT */

.about h2 {
  font-size: 24px;
  color: var(--font-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.about h3 {
  font-size: 20px;
  color: var(--font-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 30px;
}

/* FOOTER */

footer {
  margin-top: 50px;
  background: #eeeeee;
  padding: 23px;
}

footer h6 {
  font-size: 14px;
  color: #999999;
  text-align: center;
}

/* RECIPE PAGE */

.recipe-header {
  text-align: center;
  margin-bottom: 50px;
}

.recipe-header img {
  border-radius: 1rem;
}

.recipe-header .title {
  margin: 50px 0;
}

.recipe-header .title h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #111111;
  margin-bottom: 0.25rem;
}

.recipe-header .title h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 400;
}

.recipe-infos .title {
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 34px;
  margin: 2.5rem 0 1rem 0;
}

.recipe-infos .title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111111;
}

.recipe-infos .title button {
  font-size: 0.75rem;
  font-weight: bold;
  color: #999999;
  background: none;
  cursor: pointer;
}

.recipe-infos .content {
  font-size: 1.125rem;
  line-height: 28px;
  color: #444444;
  list-style-position: inside;
}

.recipe-infos .content.hide {
  display: none;
}

/* ADMIN */

/* ADMIN INDEX */

.recipes.admin .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chefs.admin .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipes.admin .cards .card,
.chefs.admin .cards .card {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.recipes.admin .cards .card .card-image img {
  height: 80px;
  max-width: 172px;
}

.chefs.admin .cards .card .card-image img {
  width: 64px;
  border-radius: 50%;
}

.chefs.admin .cards .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.recipes.admin .cards .card .card-content h3,
.chefs.admin .cards .card .card-content h3 {
  font-size: 1.125rem;
  font-weight: normal;
  color: var(--font-color);
}

.recipes.admin .cards .card .card-content h4 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #777777;
}

.recipes.admin .cards .card .card-content a,
.chefs.admin .cards .card .card-content a {
  font-weight: bold;
  font-size: 0.875rem;
  color: #6558c3;
  text-decoration: none;
}

/* ADMIN SHOW */

.chef-header {
  display: flex;
  flex-direction: column;
}

.chef-image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.chef-image img {
  width: 200px;
  border-radius: 50%;
}

.chef-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-bottom: 50px;
}

.chef-title h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #111111;
}

.chef-title h3 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #777777;
}

/* ADMIN FORM */

form.adminForm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

form.adminForm .formItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.adminForm .formItem div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form.adminForm .formItem h5 {
  font-size: 1rem;
  color: #111111;
  font-weight: bold;
}

form.adminForm .formItem input,
form.adminForm .formItem textarea,
form.adminForm .formItem select {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 50px;
  outline: none;
  padding: 15px 20px;
  font-size: 1rem;
}

form.adminForm .formItem select option.placeholder {
  color: #999999;
}

form.adminForm .formItem textarea {
  height: 257px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}

form.adminForm .formItem button {
  background: none;
  width: fit-content;
  cursor: pointer;
  color: #6558c3;
  font-size: 1rem;
  font-weight: bold;
}
