{% extends "site/layout.njk" %}
{% block content %}
  <section class="recipes site container">
    <h2>Todas as receitas</h2>
    <div class="cards">
      {% for recipe in recipes %}
        <div class="card" id="{{ recipe.id }}">
          <div class="card-image">
            <img src="{{ recipe.image.src }}" alt="{{ recipe.image.name }}"/>
          </div>
          <div class="card-content">
            <h3>{{ recipe.title }}</h3>
            <h4>por {{ recipe.chef_name }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}