button,
a.button {
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 20px;
  text-decoration: none;
}

button.buttonDelete {
  background: #dc4747;
}

button.buttonCancel {
  background: #8a8a8a;
}

button.buttonConfirm {
  background: #6558c3;
}

button.addIngredientButton,
button.addPreparationButton {
  background: none;
  width: fit-content;
  color: #6558c3;
  font-weight: bold;
  padding: 0;
}

button.buttonShowHide {
  font-size: 0.75rem;
  font-weight: bold;
  color: #999999;
  background: none;
}
