button,
a.button {
  font-size: 1rem;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 20px;
  text-decoration: none;
  text-align: center;
}

button.buttonDelete {
  background: #dc4747;
}

button.buttonCancel {
  background: #8a8a8a;
}

button.buttonConfirm,
a.button.buttonConfirm {
  background: #6558c3;
}

button.addIngredientButton,
button.addPreparationButton {
  background: none;
  width: fit-content;
  color: #6558c3;
  font-weight: bold;
  padding: 0;
}

button.buttonShowHide {
  font-size: 0.75rem;
  font-weight: bold;
  color: #999999;
  background: none;
}

.user .cards .card .card-buttons a.button.buttonDelete,
.user .cards .card .card-buttons button.buttonDelete {
  font-size: 0.875rem;
  font-weight: bold;
  color: #f55a5a;
  background: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
}

.user .cards .card .card-buttons a.button.buttonConfirm,
.user .cards .card .card-buttons button.buttonConfirm {
  font-size: 0.875rem;
  font-weight: bold;
  color: #6558c3;
  background: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
}
