@keyframes hidemessage {
  to {
    top: -50px;
    opacity: 0;
    display: none;
  }
}

/* MESSAGES */

.messages {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 16px;
  width: 100%;
  color: white;
  opacity: 1;
  animation: hidemessage 400ms 3s ease-out forwards;
}

.messages.error {
  background-color: #e74c3c;
}

.messages.success {
  background-color: #3ce73c;
}

/* MESSAGES LOGIN */

.messagesLogin {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 344px;
  height: 135px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: helvetica, sans-serif;
  opacity: 1;
  animation: hidemessage 400ms 3s ease-out forwards;
}

.messagesLogin.error {
  background-color: #dc4747;
}

.messagesLogin.success {
  background-color: #01b12a;
}
