<div class="formItem">
  <h5>Nome</h5>
  <input type="text" name="name" value="{{ user.name }}" placeholder="Digite o nome completo" value="{{ user.name }}"/>
</div>
<div class="formItem">
  <h5>Email</h5>
  <input type="email" name="email" value="{{ user.email }}" placeholder="Digite o email" value="{{ user.email }}"/>
</div>
<div class="formItem">
  <h5>Senha</h5>
  <input type="password" name="password" placeholder="Digite a senha"/>
</div>