{% extends 'admin/layout.njk' %}
{% block content %}
  <section class="recipe container">
    <div class="recipe-header">
      <div class="action-header">
        <h2>Editando receita</h2>
        <div class="buttons">
          <button type="submit" form="deleteRecipeForm" onclick="confirmDelete(event)" class="buttonDelete">Deletar</button>
          <button type="submit" form="editRecipeForm" class="buttonConfirm">Salvar receita</button>
        </div>
      </div>
    </div>
    <form
      action="/admin/recipes?_method=PUT"
      method="post"
      id="editRecipeForm"
      class="adminForm"
      enctype="multipart/form-data">
      {% include 'admin/recipes/fields.njk' %} <input type="hidden" name="id" value="{{ recipe.id }}"/></form>
    <form action="/admin/recipes?_method=DELETE" method="post" id="deleteRecipeForm">
      <input type="hidden" name="id" value="{{ recipe.id }}"/>
    </form>
  </section>
{% endblock content %}